<div class="container">
    <div class="logo">

        <img src="/logo_blanco.png" alt="">
    </div>

    <div class="confirm-container">
        <h1 class="title">Confirmar su correo electronico</h1>
        <p class="pharagraph">Dale click en el boton de abajo para confirmar su correo electronico: <b>{{email}}</b></p>
        <div class="container-button">
            <a href="/sendmail/verifycheck/{{token}}/{{email}}">Confirmar Email</a>
        </div>
        <p class="pharagraph">Una vez confirmado, este email sera unico y sera asociado a su cuenta</p>
        <br>
        <p class="pharagraph">
            Del equipo de Neo
        </p>
    </div>
</div>